footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 0 20px 0;
    text-align: center;
}

.footer-content .logo img {
    width: 150px;
    height: auto;
}

.footer-content .links a,
.footer-content .policies a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content .links a:hover,
.footer-content .policies a:hover {
    color: red;
}