<link rel="stylesheet" href="navbar-bawah.component.css">

<footer>
    <hr style="border: 1px solid red;">
    <div class="footer-content">
        <div class="logo">
            <img src="../../assets/img/dfsk-logo-horizontal.png" alt="Logo">
        </div>
        <div class="links">
            <a href="#">HOME</a> |
            <a href="#">SHOWROOM</a> |
            <a href="#">ABOUT</a> |
            <a href="#">CONTACTS</a>
        </div>
        <div class="copyright">
            Copyrighted 2023 Dongfeng Motor Company<br>
            All Rights Reserved
        </div>
    </div>
</footer>