<hr style="border: 3px solid crimson;">
<footer>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container">
        <div class="footer">
            <div class="img">
                <img src="../../assets/img/dfsk-logo-horizontal.png" alt="Logo" width="200" height="50">
            </div>
            <div class="footer-content">
                <div class="pilihan">
                    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    <p>|</p>
                    <a routerLink="/showroom" routerLinkActive="active" ariaCurrentWhenActive="page">Showroom</a>
                    <p>|</p>
                    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                    <p>|</p>
                    <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                </div>
            </div>
            <div class="terms center">
                <a href="https://www.tiktok.com/@dfmotor?is_copy_url=1&is_from_webapp=v1&lang=zh-Hant-TW" target="_blank"><i class="fa-brands fa-tiktok icons"></i></a>
                <a href="https://www.facebook.com/DongfengMotorCorporationGlobal" target="_blank"><i class="fa-brands fa-facebook icons"></i></a>
                <a href="https://www.instagram.com/dongfengcidef/?hl=en" target="_blank"><i class="fa-brands fa-instagram icons"></i></a>
            </div>
            <p class="center" style="font-size: 14px; margin-top: 50px;">&copy; 2023 Dongfeng Motor Company </p>
        </div>
    </div>
</footer>