<header class="navbar">
    <app-navbar></app-navbar>
</header>
<body>
    <h1 class="page-name">About Us!</h1>
    <section class="about-content">
        <h1 class="team-name">We Are <span class="ngawi">ng-awi</span></h1>
        <div class="descriptions">
            <p>Welcome to our team's about page!</p>
            <p>This website was created for the final exam of the Front End Programming course</p>
            <p>Based on DongFeng Sokon and DongFeng Motor Car Company</p>
            <p>Made with <span style="color: #c3002f">Angular 17</span> </p>
        </div>
        <h1 class="developers">Our <span style="color: red">Developers</span></h1>
        <section class="team-members">
            
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Jafier Andreas</h2>
                <h3>535220013</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
    
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Timothy Wahyudi Pakpahan</h2>
                <h3>535220043</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Jason Chainara Putra</h2>
                <h3>535220045</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Ruben Tobia Chaiyadi</h2>
                <h3>535220051</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Tigo Ilhami Fasyah</h2>
                <h3>535220235</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>   
            </div>
            <!-- Add more team members as needed -->
        </section>
    
    </section>
</body>
    <app-navbar-bawah></app-navbar-bawah>