<header class="navbar">
    <app-navbar></app-navbar>
</header>
<body>
    <h1 class="page-name">About Us!</h1>
    <section class="about-content">
        <h1 class="team-name">We Are <span class="ngawi">ng-awi</span></h1>
        <div class="descriptions">
            <p>Welcome to our team's about page!</p>
            <p>This website was created for the final exam of the Front End Programming course</p>
            <p>Based on DongFeng Sokon and DongFeng Motor Car Company</p>
            <p>Made with <span style="color: #c3002f">Angular 17</span> </p>
            
        </div>
        <h1 class="developers">Our <span style="color: red">Developers</span></h1>
        <section class="team-members">
            
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Jafier Andreas</h2>
                <h3>535220013</h3>
                <p class="quotes">"Why do it today if u can do it tomorrow?"</p>
                <div class="sosmed">
                    <a href="https://www.instagram.com/jjaffiii/" target="_blank"><img class="socialMediaImg" alt="instagram" src="assets/img/socialmedia/instagram.png"></a>
                    <a href="" target="_blank"><img class="socialMediaImg" alt="linkedin" src="assets/img/socialmedia/linkedin.png"></a>
                    <a href="" target="_blank"><img class="socialMediaImg" alt="github" src="assets/img/socialmedia/github-white.png"></a>
                </div>
                
            </div>
    
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Timothy Wahyudi Pakpahan</h2>
                <h3>535220043</h3>
                <p class="quotes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                <div class="sosmed">
                    <a href="" target="_blank"><img class="socialMediaImg" alt="instagram" src="assets/img/socialmedia/instagram.png"></a>
                    <a href="" target="_blank"><img class="socialMediaImg" alt="linkedin" src="assets/img/socialmedia/linkedin.png"></a>
                    <a href="" target="_blank"><img class="socialMediaImg" alt="github" src="assets/img/socialmedia/github-white.png"></a>
                </div>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Jason Chainara Putra</h2>
                <h3>535220045</h3>
                <p class="quotes">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                <div class="sosmed">
                    <a href="https://www.instagram.com/jasonchaii_/" target="_blank"><img class="socialMediaImg" alt="instagram" src="assets/img/socialmedia/instagram.png"></a>
                    <a href="https://id.linkedin.com/in/jason-chainara-putra-941ba2281" target="_blank"><img class="socialMediaImg" alt="linkedin" src="assets/img/socialmedia/linkedin.png"></a>
                    <a href="https://github.com/JasonFTI45" target="_blank"><img class="socialMediaImg" alt="github" src="assets/img/socialmedia/github-white.png"></a>
                </div>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Ruben Tobia Chaiyadi</h2>
                <h3>535220051</h3>
                <p class="quotes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                <div class="sosmed">
                    <a href="https://www.instagram.com/rubenchai_/" target="_blank"><img class="socialMediaImg" alt="instagram" src="assets/img/socialmedia/instagram.png"></a>
                    <a href="https://www.linkedin.com/in/ruben-tobia-chaiyadi-3b893b255/" target="_blank"><img class="socialMediaImg" alt="linkedin" src="assets/img/socialmedia/linkedin.png"></a>
                    <a href="https://github.com/RubenTCs" target="_blank"><img class="socialMediaImg" alt="github" src="assets/img/socialmedia/github-white.png"></a>
                </div>
            </div>
            <div class="member-card">
                <img class="member-photo" src="assets/img/member-photos/placeholder_photo.jpg" alt="jafier-photo">
                <h2>Tigo Ilhami Fasyah</h2>
                <h3>535220235</h3>
                <p class="quotes">"Be yourself and never surrender"</p>
                <div class="sosmed">
                    <a href="https://www.instagram.com/thigo_fasyah/" target="_blank"><img class="socialMediaImg" alt="instagram" src="assets/img/socialmedia/instagram.png"></a>
                    <a href="https://www.linkedin.com/in/tigo-ilhami-fasyah-787519262/" target="_blank"><img class="socialMediaImg" alt="linkedin" src="assets/img/socialmedia/linkedin.png"></a>
                    <a href="https://github.com/TigoF13" target="_blank"><img class="socialMediaImg" alt="github" src="assets/img/socialmedia/github-white.png"></a>
                </div>
            </div>
        </section>
        <br>
            <p class="descriptions">Source code: <a href="https://github.com/RubenTCs/DFSK" class="repo" target="_blank">Github Repository</a></p>
    </section>
    
</body>
    <app-navbar-bawah></app-navbar-bawah>