<header class="navbar">
    <app-navbar></app-navbar>
</header>
<body>
    <div class="opimg">
        <img src="../../../assets/img/vehicle-model/dongfeng cv/vl ct/opimg.png" alt="">
    </div>
    <div class="carCompCont">
        <div class="label">
            Exterior
        </div>
        <img src="../../../assets/img/vehicle-model/dongfeng cv/vl ct/bgcarext.png" alt="">
        <div class="label">
            Model Parameters
        </div>
        <img src="../../../assets/img/vehicle-model/dongfeng cv/vl ct/modpar.png" alt="">
        <div class="label">
            Model Highlights
        </div>
        <img src="../../../assets/img/vehicle-model/dongfeng cv/vl ct/modhigh1.png" alt="">
        <div class="cont">
            <img src="../../../assets/img/vehicle-model/dongfeng cv/vl ct/modhigh2.png" alt="">
            <a href="/contact"><button>BOOK CAR</button></a>
        </div>
    </div>
    <app-navbar-bawah></app-navbar-bawah>
