<<<<<<< Updated upstream
/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
=======
body {
    font-family: Arial, sans-serif;
   }
   
   nav {
    background-color: #333;
    padding: 10px;
   }
   
   nav ul {
    list-style-type: none;
    padding: 0;
   }
   
   nav ul li {
    display: inline;
    margin-right: 10px;
   }
   
   nav ul li a {
    color: white;
    text-decoration: none;
   }
   
   nav img {
    float: right;
    height: 50px;
   }
>>>>>>> Stashed changes
