<header class="navbar">
    <app-navbar></app-navbar>
</header>
<body>
    <div class="video-background">
        <video class="liveflex" autoplay loop muted>
        <source src="/assets/video/dongfeng trailer.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="modelMenu">
        <div class="carType">
            <div class="car-model" [ngClass]="{'active': activeCar === 'Dongfeng_PV'}" (click)="changeCar('Dongfeng_PV')">
                DONGFENG MOTOR (PV)
            </div>
            <div class="car-model" [ngClass]="{'active': activeCar === 'Dongfeng_CV'}" (click)="changeCar('Dongfeng_CV')">
                DONGFENG MOTOR (CV)
            </div>
            <div class="car-model" [ngClass]="{'active': activeCar === 'Voyah'}" (click)="changeCar('Voyah')">
                VOYAH MOTOR
            </div>
            <div class="car-model" [ngClass]="{'active': activeCar === 'Mhero'}" (click)="changeCar('Mhero')">
                MHERO MOTOR
        </div>
    </div>

    <div class="carType-img">
        <div class="imgcont">
            <img [src]="carImages[activeCar][0]" alt="First img">
        </div>
        <div class="imgcont">
            <img [src]="carImages[activeCar][1]" alt="Second img">
        </div>
        <div class="imgcont">
            <img [src]="carImages[activeCar][2]" alt="Third img">
        </div>
        <a [href]="carLinks[activeCar]" class="more-button">{{ buttonNames[activeCar] }}</a>
    </div>

    <app-navbar-bawah></app-navbar-bawah>