<header class="navbar">
    <app-navbar></app-navbar>
</header>
<body>
    <div class="video-background">
        <video class="liveflex" autoplay loop muted>
        <source src="/assets/video/dongfeng trailer.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="modelMenu">
        <div class="carType">
            <div class="car-model" [ngClass]="{'active': activeCar === 'TopSeller'}" (click)="changeCar('TopSeller')">
                TOP SELLER
            </div>
        </div>
    </div>

    <div class="carType-cont">
        <div class="carType-img">
            <div class="imgcont">
                <a routerLink="/vehiclemodel{{carLinks[activeCar][0]}}" routerLinkActive="active" ariaCurrentWhenActive="page"><img [src]="carImages[activeCar][0]" [alt]="carImages[activeCar][0] ? 'First img' : null"></a><span class="carNameStyle">{{ carNames[activeCar][0] }}</span>
            </div>
            <div class="imgcont">
                <a routerLink="/vehiclemodel{{carLinks[activeCar][1]}}" routerLinkActive="active" ariaCurrentWhenActive="page"><img [src]="carImages[activeCar][1]" [alt]="carImages[activeCar][1] ? 'Second img' : null"></a><span class="carNameStyle">{{ carNames[activeCar][1] }}</span>
            </div>
            <div class="imgcont">
                <a routerLink="/vehiclemodel{{carLinks[activeCar][2]}}" routerLinkActive="active" ariaCurrentWhenActive="page"><img [src]="carImages[activeCar][2]" [alt]="carImages[activeCar][2] ? 'Third img' : null"></a><span class="carNameStyle">{{ carNames[activeCar][2] }}</span>
            </div>
        </div>
    </div>

    <app-navbar-bawah></app-navbar-bawah>